@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ibm-plex-sans: var(--font-ibm-plex-sans);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: var(--font-ibm-plex-sans);
}
